requests=2.31.0
telebot=0.0.5
faker=24.9.0
pyTelegramBotAPI=4.17.0
bs4=0.0.2
rich=13.7.1
urllib3=2.2.1
stdiomask=0.0.6
OneClick=3.0.1
ninja=1.11.1
cffi=1.16.0
certifi=2024.2.2
AegosPy=0.6
